.App {
  text-align: center;
  padding: 40px;
  background-color: #fafafa;
}

.title {
  font-size: 2em;
  color: #e15892;
  margin-bottom: 30px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 40px 40px;
  width: 95%;
}

.code-textarea {
  flex: 1;
  min-height: 400px;
  width: 100%;
  font-family: monospace;
  font-size: 14px;
  padding: 15px;
  border-radius: 8px;
  resize: vertical;
  margin: 1rem 0;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 300px;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  max-width: 800px;
  align-items: center;
}