body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.App {
  text-align: center;
  background-color: #f9edf2;
  min-height: 100vh;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1.5px;
  overflow: hidden;
}

.title {
  font-size: 2em;
  color: #e15892;
  margin-bottom: 10px;
  font-family: 'Great Vibes', cursive;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 98%;
  margin: 0 auto;
  align-items: flex-start;
  padding-bottom: 40px;
  overflow: auto;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  min-width: 0;
}

.editor-wrapper {
  flex: 1 1 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 620px;
  align-items: center;
  color: #4a5568;
}

.section-label {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 600;
  color: #4a5568;
  margin-bottom: 12px;
}

.code-textarea, .full-diff-wrapper {
  width: 100%;
  height: 500px !important;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  resize: none;
  outline: none;
  padding: 15px;
  line-height: 20px;
}

.full-diff-wrapper {
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.code-textarea::placeholder {
  color: #4a5568;
}

.button-container {
  width: 180px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}

.submit-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  min-width: 160px;
  letter-spacing: 1.5px;
  margin: 20px 0;
  font-family: 'Great Vibes', cursive;
}

.submit-btn:hover {
  background-color: #c0407a;
}

.submit-btn:disabled {
  background-color: #f196bb;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  min-width: 150px;
  margin: 20px 0;
  letter-spacing: 1.5px;
  font-family: 'Great Vibes', cursive;
}

.tertiary-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  min-width: 150px;
  margin: 20px 0;
  margin-right: 10px;
  letter-spacing: 1.5px;
  font-family: 'Great Vibes', cursive;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 0.8s linear infinite;
  vertical-align: middle;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.error-message {
  color: #e53e3e;
  background: #fff5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: inline-block;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 2px;
}

.clear-btn {
  padding: 8px 35px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #e15892;
  color: white;
  border: none;
  min-width: 120px;
  letter-spacing: 1.5px;
  font-family: 'Great Vibes', cursive;
}

.refactored-code-view {
  background-color: #fff;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  color: #4a5568;
}

.refactored-code-view pre {
  margin: 0;
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  color: #4a5568;
  font-weight: 500;
}

.file-info {
  margin-top: 15px;
  font-size: 14px;
  color: #4a5568;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1px;
}

.file-info span {
  color: #4a5568;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  padding: 4px 10px;
}

.justification-container {
  flex: 0 1 300px;
  width: 300px;
  margin-top: 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 0;
  top: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(225, 88, 146, 0.1);
}

.justification-title {
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-family: 'Great Vibes', cursive;
  font-size: 22px;
  color: #e15892;
  letter-spacing: 1.5px;
}

.justification-wrapper {
  padding: 20px;
  min-height: 80px;
  overflow-y: auto !important;
  flex-grow: 1;
}

.justification-text {
  margin: 0;
  font-family: monospace;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  color: #4a5568;
  letter-spacing: 1.2px;
  white-space: pre-wrap;
}