.App {
  text-align: center;
  padding: 20px;
  background-color: #f9edf2;
  max-height: 100vh;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1.5px;
}

.title {
  font-size: 2.5em;
  color: #e15892;
  margin-bottom: 30px;
  font-family: 'Great Vibes', cursive;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  width: 98%;
  max-width: 1400px;
}

.editor-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 620px;
  align-items: center;
  color: #4a5568;
}

.section-label {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 600;
  color: #4a5568;
  margin-bottom: 12px;
}

.code-textarea, .full-diff-wrapper {
  width: 100%;
  height: 500px !important;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  resize: none;
  outline: none;
  padding: 15px;
  font-size: 18px;
}

.full-diff-wrapper {
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Great Vibes', cursive;
}

.code-textarea::placeholder {
  color: #4a5568;
  font-family: 'Great Vibes', cursive;
  font-size: 18px;
}

.button-container {
  width: 180px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}

.submit-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  min-width: 160px;
  letter-spacing: 1.5px;
  margin: 20px 0;
  font-family: 'Great Vibes', cursive;
}

.submit-btn:hover {
  background-color: #c0407a;
}

.submit-btn:disabled {
  background-color: #f196bb;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  min-width: 150px;
  margin: 20px 0;
  letter-spacing: 1.5px;
  font-family: 'Great Vibes', cursive;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 0.8s linear infinite;
  vertical-align: middle;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.error-message {
  color: #e53e3e;
  background: #fff5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: inline-block;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 2px;
}

.clear-btn {
  padding: 8px 35px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #e15892;
  color: white;
  border: none;
  min-width: 120px;
  letter-spacing: 1.5px;
  font-family: 'Great Vibes', cursive;
}