.App {
  text-align: center;
  padding: 20px;
  background-color: #fafafa;
  max-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  font-size: 2em;
  color: #e15892;
  margin-bottom: 30px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  width: 98%;
  max-width: 1400px;
}

.editor-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 620px;
  align-items: center;
}

.section-label {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: 700;
  color: #4a5568;
  margin-bottom: 12px;
}

.code-textarea, .full-diff-wrapper, .placeholder-box {
  width: 100%;
  height: 500px !important;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: monospace;
}

.code-textarea {
  font-size: 14px;
  padding: 15px;
  font-family:'Courier New', Courier, monospace;
  resize: none;
  outline: none;
}

.full-diff-wrapper {
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.placeholder-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0aec0;
}

.button-container {
  width: 150px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.submit-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  min-width: 150px;
  margin: 20px 0;
}

.submit-btn:hover {
  background-color: #c0407a;
}

.submit-btn:disabled {
  background-color: #f196bb;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-footer {
  margin-top: 10px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  min-width: 150px;
  margin: 20px 0;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 0.8s linear infinite;
  vertical-align: middle;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.error-message {
  color: #e53e3e;
  background: #fff5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: inline-block;
}