.App {
  text-align: center;
  padding: 40px;
  background-color: #fafafa;
}

.title {
  font-size: 2em;
  color: #e15892;
  margin-bottom: 30px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 40px 40px;
  width: 95%;
}

.code-textarea {
  flex: 1;
  min-height: 400px;
  width: 100%;
  font-family: monospace;
  font-size: 14px;
  padding: 15px;
  border-radius: 8px;
  resize: vertical;
  margin: 1rem 0;
  box-sizing: border-box;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  max-width: 800px;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: #e15892;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 300px;
}

.submit-btn:disabled {
  background-color: #f196bb;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 0.8s linear infinite;
  /* margin: 0 auto; */
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}